
<% if @current_user.present? && @current_user.admin %>
<div class = "beCenter">
    <h2>Welcome back to BURNING Airlines, Admin</h2>
</div>

   <div class = "beCenter">
        <%= render partial: '/airplanes/form' %>
    </div>

<% else %>
<div class = "beCenter">
    <h2>Welcome to BURNING Airlines</h2>
</div>


<div class = "beCenter">
    <%= image_tag "concorde.jpg" ,alt: "burning airlines", class: "airline_image" %>
</div>

<% end %>


